<div (window:resize)="onResize($event)">

<ul class="ulmenu">
  <li *ngIf="!menuIcon" (click)="sidenavStart.toggle()" ><a><i class="material-icons app-toolbar-menu" >menu</i></a></li>
  <li><a routerLink="/" style="font-size: 1.5em; margin-top: -6px"  >Stadt Oldenburg</a></li>
  <div class="navbar-style" *ngIf="menuSwich">
  <li><a routerLink="/hauspark">Parkmöglichkeiten</a></li>
  <li><a routerLink="/hausmap" >Karte</a></li>
  <li *ngIf="isDarkTheme"><a  (click)="switchThem()"  >Tag-Modus</a></li>
  <li *ngIf="!isDarkTheme"><a  (click)="switchThem()">Nacht-Modus</a></li>
  </div>
</ul>

  <mat-sidenav-container class="app-layout"  >
    <mat-sidenav #sidenavStart  class="app-sidenav" mode="over"  tabindex="-1" align="start" >
    <div  style="height:75px ;"></div>
    <div style="height: calc(100% - 60px) ;" (swipeleft)="sidenavStart.close()" align="center"> 
      <div (click)="sidenavStart.toggle()">        
        <mat-list-item> <button mat-button routerLink="/hauspark">Parkmöglichkeiten</button> </mat-list-item>
        <mat-list-item> <button mat-button routerLink="/hausmap">Karte</button> </mat-list-item>
      </div>
        <button mat-button (click)="switchThem()" *ngIf="!isDarkTheme">Nacht-Modus</button>
        <button mat-button (click)="switchThem()" *ngIf="isDarkTheme">Tag-Modus</button>
      </div>
    </mat-sidenav>
   

    <div class="app-main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>


</div>
