<!--<div style="height: 60px;"></div>-->
<mat-sidenav-container class="app-haus-map-layout">
    <mat-sidenav mode="side" #sidenav (openedChange)="closeOpenSidenaveEvent($event)">
        <div class="sidenavPosition" align='center'>
            <h1>
                Oldenburg
            </h1>
            <button mat-mini-fab class="btnclose" (click)="sidenav.toggle()"  *ngIf="opened">
                <mat-icon>{{btnSideNave}}</mat-icon>
            </button>
            <!--<button mat-raised-button routerLink="." (click)="clearDirection()" class="tthem-color" >Reset Directions</button>-->
            <button mat-raised-button routerLink="." (click)="carePositsion()" class="tthem-color" *ngIf="!(addresService.autoPosition.autoPoLat)">Mein Auto Position</button>
            <button mat-raised-button routerLink="." (click)="toAuto()" color="primary" *ngIf="(addresService.autoPosition.autoPoLat)">Zum Auto</button>
            <button mat-raised-button routerLink="." (click)="resetPos()" class="tthem-color" *ngIf="(addresService.autoPosition.autoPoLat)">Reset Mein Auto Position</button>
            
            
        </div>
        <div id="right-panel" class="flexcroll" #planRoutMap></div>
    </mat-sidenav>
    <mat-sidenav (add)="closeOpenSidenaveEvent($event)"  mode="side" #sidenavEnd align="end">
        <div class="sideEnd-layout" align='center' (swiperight)="closeOpenSidenaveEnd()">
            <h1>
                Oldenburg
            </h1>
            <mat-list>
                <mat-list-item>                    
                    <mat-checkbox class="example-margin" [(ngModel)]="parksFBehindertesShow" (change)="chckeMrkerGroup()">
                        <img src="http://gis4oldenburg.oldenburg.de/mandant/musterstadt_oldenburg/images/poi/1398877145.jpg" width="24" height="30">                        
                        Parkplätze für Behinderte</mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <mat-checkbox class="example-margin" [(ngModel)]="freiParkPlatzShow"(change)="chckeMrkerGroup()">
                        <img src="http://gis4oldenburg.oldenburg.de/mandant/musterstadt_oldenburg/images/poi/2.gif" width="24" height="24">
                        Parkplätze kostenfrei</mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <mat-checkbox class="example-margin" [(ngModel)]="parkPlatzShow"(change)="chckeMrkerGroup()">
                        <img src="http://gis4oldenburg.oldenburg.de/mandant/musterstadt_oldenburg/images/poi/2.gif" width="24" height="24">
                        Parkplätze </mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <mat-checkbox class="example-margin" [(ngModel)]="ParkHauseShow"(change)="chckeMrkerGroup()">
                        <img src="http://gis4oldenburg.oldenburg.de/mandant/musterstadt_oldenburg/images/poi/1.gif" width="24" height="24">
                        Parkhäuser </mat-checkbox>
                </mat-list-item>
                <!-- <mat-list-item>
                    <mat-checkbox class="example-margin" [(ngModel)]="strassensperrungShow"(change)="chckeMrkerGroup()">
                        <img src="./assets/sperrung.jpg" width="24" height="24">
                        Straßensperrung </mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <mat-checkbox class="example-margin" [(ngModel)]="grosseUmleitungenShow"(change)="chckeMrkerGroup()">
                        <img src="./assets/umleit.png" width="24" height="24">
                        Große Umleitungen  </mat-checkbox>
                </mat-list-item> -->
            </mat-list>
        </div>
        <button mat-mini-fab class="btncloseEnd" (click)="closeOpenSidenaveEnd()" *ngIf="openedEnd">
            <mat-icon>{{btnSideNaveEnd}}</mat-icon>
        </button>
    </mat-sidenav>
    <button mat-mini-fab class="btnOpen" (click)="sidenav.toggle()"  *ngIf="!opened">
        <mat-icon>{{btnSideNave}}</mat-icon>
    </button>
    <button mat-mini-fab class="btnOpenEnd" (click)="sidenav.toggle()"  *ngIf="openedEnd">
        <mat-icon>{{btnSideNaveEnd}}</mat-icon>
    </button>
    <!--Map-->
    <agm-map class="sebm-google-map-map" [latitude]="oldenburgLatLng.lat" [longitude]="oldenburgLatLng.lng" [zoom]="zoom" [styles]="styleArray"
        (mapClick)="mapClicked($event)">
        <!--Marker-->
        <agm-marker [latitude]="markerPos.lat" [longitude]="markerPos.lng" [iconUrl]="markerIcon"></agm-marker>
        <!--parksFBehindertes-->
        <div *ngIf="parksFBehindertesShow">
            <agm-marker *ngFor="let pFB of parksFBehindertes; let i = index" [latitude]="pFB.lat" [longitude]="pFB.lon" [iconUrl]="pFB.file"
                (markerClick)="getInfoMarker(pFB.id,infowindow,pFB.ukat)">
                <agm-info-window #infowindow >
                    <div [innerHTML]="infoMarker"></div>
                    <button mat-raised-button (click)="toCurrentMarker(pFB)">Fahrren</button>
                    <p></p>
                    
                </agm-info-window>
            </agm-marker>
        </div>
        <!--freiParkPlatz-->
        <div *ngIf="freiParkPlatzShow">
            <agm-marker *ngFor="let fPP of freiParkPlatz; let i = index" [latitude]="fPP.lat" [longitude]="fPP.lon" [iconUrl]="fPP.file"
                (markerClick)="getInfoMarker(fPP.id,infowindow,fPP.ukat)">
                <agm-info-window #infowindow >
                    <div [innerHTML]="infoMarker"></div>
                    <button mat-raised-button (click)="toCurrentMarker(fPP)">Fahrren</button>
                    <p></p>
                </agm-info-window>
            </agm-marker>
        </div>
        <!--ParkPlatz-->
        <div *ngIf="parkPlatzShow">
            <agm-marker *ngFor="let pP of parkPlatz; let i = index" [latitude]="pP.lat" [longitude]="pP.lon" [iconUrl]="pP.file"
                (markerClick)="getInfoMarker(pP.id,infowindow,pP.ukat)">
                <agm-info-window #infowindow >
                    <div [innerHTML]="infoMarker"></div>
                    <button mat-raised-button (click)="toCurrentMarker(pP)">Fahrren</button>
                    <p></p>                    
                </agm-info-window>
            </agm-marker>
        </div>
        <!--ParkHause-->
        <div *ngIf="ParkHauseShow">
            <agm-marker *ngFor="let pH of parkHause; let i = index" [latitude]="pH.lat" [longitude]="pH.lon" [iconUrl]="pH.file"
                (markerClick)="getInfoMarker(pH.id,infowindow,pH.ukat)">
                <agm-info-window #infowindow >
                    <div [innerHTML]="infoMarker"></div>
                    <button mat-raised-button (click)="toCurrentMarker(pH)">Fahrren</button>
                    <p></p>
                </agm-info-window>
            </agm-marker>
        </div>

        <!--polyline-->
        <div *ngIf="strassensperrungShow">
            <sebm-google-map-json-polyline [lines]="strassensperrung" [strokeColor]="strassensperrungColor"></sebm-google-map-json-polyline>
        </div>
        <div *ngIf="grosseUmleitungenShow">
            <sebm-google-map-json-polyline [lines]="grosseUmleitungen" [strokeColor]="grosseUmleitungenColor"></sebm-google-map-json-polyline>
        </div>
        <!--Direction-->
        <sebm-google-map-directions [origin]="origin" [destination]="destination" [directionsDisplay]="directionsDisplay" [elPlanRout]="elPlanRout"
            [infoMarker]="infoMarker"></sebm-google-map-directions>
    </agm-map>
</mat-sidenav-container>